<section>
  <div class="grid-container">
    {%- if section.settings.image != blank -%}
    <div class="im-one">
      <h1></h1>
    </div>
    {%- else -%}
    <div class="def-image"></div>
    {%- endif -%}

    
    {%- if section.settings.image2 != blank -%}
      <div class="im-two">
        <h1></h1>
      </div>
      {%- else -%}
      <div class="def-image"></div>
      {%- endif -%}

      {%- if section.settings.image3 != blank -%}
        <div class="im-three">
          <h1></h1>
        </div>
        {%- else -%}
        <div class="def-image"></div>
        {%- endif -%}

        {%- if section.settings.image4 != blank -%}
          <div class="im-four">
            <h1></h1>
          </div>
          {%- else -%}
          <div class="def-image"></div>
          {%- endif -%}   
  </div>
</section>


<style>
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal-width columns */
    grid-template-rows: repeat(2, 1fr); /* Creates two equal-height rows */
    gap: 10px; /* Optional gap between the grid items */
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .def-image {
    background-image: url("{{ 'placeholder-grid.svg' | asset_url }}");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .im-one {
    background-image: url("{{ section.settings.image | image_url }}");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .im-two {
    background-image: url("{{ section.settings.image2 | image_url }}");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .im-three {
    background-image: url("{{ section.settings.image3 | image_url }}");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .im-four {
    background-image: url("{{ section.settings.image4 | image_url }}");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  /* Optional: If you want a fixed height for each image */
  .grid-container {
    height: 700px;
  }
</style>

{% schema %} 
{
    "name": "grid",
    "settings": [

    {
      "type": "image_picker",
      "id": "image",
      "label": "image",
      "info": "400 x 120px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "image2",
      "info": "400 x 120px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "image3",
      "info": "400 x 120px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "image4",
      "info": "400 x 120px .png recommended"
    }


    ],
    "presets": [
        {
        "name": "grid"
        }
    ]
}
{% endschema %}

